# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
node_modules
.pnp
.pnp.js

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Testing
coverage

# Turbo
.turbo

# Vercel
.vercel

# next.js
.next/
out/
build
.swc/


# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Misc
.DS_Store
*.pem

# Generated docs content
apps/frontpage/content/docs
apps/frontpage/content/snippets
apps/frontpage/public/docs-assets
apps/frontpage/generated-redirects.json

# ui
dist/

# Storybook
storybook-static/

*storybook.log