@tailwind base;
@tailwind components;
@tailwind utilities;

code[data-theme*=' '],
code[data-theme*=' '] span {
  color: var(--shiki-light);
  background-color: var(--shiki-light-bg);
}

@media (prefers-color-scheme: dark) {
  code[data-theme*=' '],
  code[data-theme*=' '] span {
    color: var(--shiki-dark);
    background-color: var(--shiki-dark-bg);
  }
}

@layer utilities {
  .border-gradient {
    box-shadow: none;
    border: 2px solid transparent;
    background:
      linear-gradient(#fff, #fff) padding-box,
      conic-gradient(
          from -90deg,
          #d0f,
          #0073ff,
          #ff8c00,
          #ff8c00,
          #0073ff,
          #d0f
        )
        border-box;
  }
}
